__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
venv_wsl/
venv_deploy/
env/

.env
.env.*

data/
mlruns/
artifacts/
*.keras
*.h5
*.weights.h5

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

.ipynb_checkpoints/
keras_tuner/

brain_tumor_mri_classifier.egg-info/

.git/
.github/
.gitignore

.DS_Store
.vscode/
.idea/

README.md
docs/
notebooks/
tests/
