KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_api_key
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
AWS_S3_BUCKET=brain-tumor-mri-models
API_KEY=your_chosen_api_key
MLFLOW_TRACKING_URI=./mlruns
AWS_ACCOUNT_ID=your_12_digit_aws_account_id
ECR_REPOSITORY=brain-tumor-inference
ECS_CLUSTER=brain-tumor-cluster
ECS_SERVICE=brain-tumor-inference-service
ECS_TASK_DEFINITION=brain-tumor-task
MODEL_S3_PATH=models/best_model.keras
SECRETS_MANAGER_ARN=arn:aws:secretsmanager:REGION:ACCOUNT:secret:NAME
ECS_TASK_ROLE_ARN=arn:aws:iam::ACCOUNT:role/brain-tumor-ecs-task-role
ECS_EXECUTION_ROLE_ARN=arn:aws:iam::ACCOUNT:role/brain-tumor-ecs-execution-role
ECR_URI=ACCOUNT.dkr.ecr.REGION.amazonaws.com/brain-tumor-inference
ECS_SECURITY_GROUP_ID=sg-xxxxxxxxxx
ECS_SUBNET_ID=subnet-xxxxxxxxxx
