# Version Control Systems
.env
.env.*
!.env.example

# Environments
venv/
venv_wsl/
.venv/
env/
__pycache__/
*.pyc
*.py[cod]

# Data and Models
data/
artifacts/
*.keras
*.h5
.dvc/tmp

# ML Tracking
mlruns/
.mlflow/

# Logs and Misc
logs/
*.log
.DS_Store
*.swp
*.swo
