# Secrets
.env

# Data
data/
mlruns/
.dvc/

# Artifacts (keep .gitkeep only)
artifacts/
!artifacts/.gitkeep

# Large files
*.h5
*.weights.h5
*.keras
artifacts/tuner/
artifacts/eval/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv_wsl/
venv_deploy/
.env
brain_tumor_mri_classifier.egg-info/

# OS
.DS_Store
Thumbs.db
